@import "../../../app.component.scss";

#books {
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 100%;
  padding-top: 55px;

  books-component {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 97%;
  }

  #spinner {
    @include spinner-align;
  }
}

#nfBooks {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  visibility: hidden;
}

#filtersButton {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 3%;
  display: flex;
  align-items: center;
  background: #d8d8d854;
  cursor: pointer;
}