@import "../../../app.component.scss";

#books {
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 100%;
  padding-top: 55px;

  books-component {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  #spinner {
    @include spinner-align;
  }
}

#nfBooks {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  visibility: hidden;
}
