@import "../../../app.component.scss";

$filtersButtonWidth: 5%;
$otherContentWidth: 100% - $filtersButtonWidth;

#books {
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 92%;
  padding-top: 55px;

  #creationButton {
    width: $otherContentWidth;
    padding-top: 10px;
    display: flex;
    justify-content: center;
  }
  books-component {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: $otherContentWidth;
  }
  app-paginator {
    width: $otherContentWidth;
  }

  #spinner {
    @include spinner-align;
  }
}

#nfBooks {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  visibility: hidden;
}

#filtersButtonArea {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: $filtersButtonWidth;
  display: flex;
  align-items: center;
  justify-content: center;
  
  button {
    border-radius: 100% 0 0 100%;
    height: 100px;
  }
}