<div id="books">
    <app-search-field></app-search-field>

    <div id="content">
        <div id="viewBooks">
            <books-component *ngIf="books$ | async as books; else loading"
                [books]="books">
            </books-component>

            <ng-template #loading>
                <div class="spinner">
                    <mat-spinner></mat-spinner>
                </div>
            </ng-template>

            <app-paginator [records]="booksQuantity"
                [limits]="[10, 25, 50, 75, 100, 125, 150]"
                (changed)="changePageSize($event)" [class.hide]="emptyResult">
            </app-paginator>
            <div id="nfBooks" *ngIf="emptyResult">
                <h2>Books not found</h2>
            </div>
        </div>

        <filters-container *ngIf="genres$ | async as genres" [genres]="genres"
            (applyForm)="getFilteredBooks($event)" (resetForm)="resetFilters()">
        </filters-container>
    </div>
</div>