<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Select genres</mat-label>
    <mat-select multiple formControlName="genres">
      <mat-option *ngFor="let genre of genres" [value]="genre.name">
        {{ genre.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Prices </mat-panel-title>
        <mat-panel-description>
          <mat-icon>payment</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Price from</mat-label>
        <input matInput notLetters formControlName="minPrice" maxlength="5" />
        <span matSuffix>$</span>
        <mat-error *ngIf="minPriceCtl.hasError('priceError')">
          Minimal price could not be biggest than maximal
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Price to</mat-label>
        <input matInput notLetters formControlName="maxPrice" maxlength="5" />
        <span matSuffix>$</span>
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Book releases </mat-panel-title>
        <mat-panel-description>
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field color="accent" appearance="outline">
        <mat-label>Release date from</mat-label>
        <input
          matInput
          dateMask
          [matDatepicker]="pickerFrom"
          formControlName="releaseFrom"
          maxlength="10"
        />
        <mat-datepicker-toggle matSuffix [for]="pickerFrom">
        </mat-datepicker-toggle>
        <mat-datepicker #pickerFrom startView="multi-year"> </mat-datepicker>
        <mat-error *ngIf="releaseFromCtl.hasError('releaseError')">
          First release date could not be biggest than second
        </mat-error>
        <mat-error *ngIf="releaseFromCtl.hasError('matDatepickerParse')">
          Date must be in format: YYYY-MM-DD
        </mat-error>
      </mat-form-field>

      <mat-form-field color="accent" appearance="outline">
        <mat-label>Release date to</mat-label>
        <input
          matInput
          dateMask
          [matDatepicker]="pickerTo"
          formControlName="releaseTo"
          maxlength="10"
        />
        <mat-datepicker-toggle matSuffix [for]="pickerTo">
        </mat-datepicker-toggle>
        <mat-datepicker #pickerTo startView="multi-year"> </mat-datepicker>
        <mat-error *ngIf="releaseToCtl.hasError('matDatepickerParse')">
          Date must be in format: YYYY-MM-DD
        </mat-error>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</form>
