<form [formGroup]="filtersForm" (ngSubmit)="applyFilters()">
  <mat-form-field appearance="fill">
    <mat-label>Genre filters</mat-label>
    <mat-select multiple formControlName="genres">
      <mat-option *ngFor="let genre of genres" [value]="genre.name">
        {{ genre.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <div formGroupName="prices">
    <mat-form-field class="example-full-width">
      <mat-label>Price from</mat-label>
      <input type="number" matInput formControlName="minPrice" />
      <mat-error
        *ngIf="filtersForm.get('prices').get('minPrice').hasError('min')"
      >
        Цена не может быть отрицательной
      </mat-error>
      <mat-error
        *ngIf="
        filtersForm.get('prices').get('minPrice').hasError('minPriceError')
        "
      >
        Минимальная цена не может быть больше максимальной
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Price to</mat-label>
      <input type="number" matInput formControlName="maxPrice" />
      <mat-error
        *ngIf="filtersForm.get('prices').get('maxPrice').hasError('min')"
      >
        Цена не может быть отрицательной
      </mat-error>
    </mat-form-field>
  </div>

  <div formGroupName="releases">
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Release date from</mat-label>
      <input
        matInput
        [matDatepicker]="pickerFrom"
        formControlName="releaseFrom"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="pickerFrom"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom startView="multi-year"></mat-datepicker>
      <mat-error
        *ngIf="filtersForm.get('releases').hasError('fromToReleaseError')"
      >
        Начальная дата не может быть больше конечной
      </mat-error>
    </mat-form-field>

    <mat-form-field color="accent" appearance="fill">
      <mat-label>Release date to</mat-label>
      <input matInput [matDatepicker]="pickerTo" formControlName="releaseTo" />
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo startView="multi-year"></mat-datepicker>
    </mat-form-field>
  </div>

  <div
    id="buttons"
    *ngIf="filtersForm.touched && filtersForm.valid; else disabled"
  >
    <button type="submit" mat-button color="accent">Accept filters</button>

    <button
      type="submit"
      mat-button
      color="warn"
      (click)="resetFilters()"
      *ngIf="showResetButton"
    >
      Reset filters
    </button>
  </div>
  <ng-template #disabled>
    <button mat-button disabled>Accept filters</button>
  </ng-template>
</form>
