form {
  display: flex;
  flex-flow: column wrap;
  margin: 10px;

  mat-card {
    width: max-content;
    height: max-content;
  }

  mat-radio-group {
    display: flex;
    flex-direction: column;

    mat-radio-button {
      line-height: 2;
    }
  }
}
mat-expansion-panel {
  mat-panel-description {
    justify-content: flex-end;
  }
  mat-form-field {
    width: 100%;
    margin: 0 8px;
  }
}


@media (min-width: 1430px) {
  mat-expansion-panel {
    mat-form-field {
      width: 45%;
    }
  }
}