<div id="authors">
  <div id="tableContent">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      class="mat-elevation-z8 data-table"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
        <td mat-cell *matCellDef="let author">{{ author.id }}</td>
      </ng-container>

      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>FIRSTNAME</th>
        <td mat-cell *matCellDef="let author">{{ author.first_name }}</td>
      </ng-container>

      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>LASTNAME</th>
        <td mat-cell *matCellDef="let author">{{ author.last_name }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let author; columns: displayedColumns"
      ></tr>
    </table>

    <app-paginator
      [records]="authors.length"
      [limits]="[10, 25, 50]"
      (create)="takePaginator($event)"
    ></app-paginator>
  </div>
</div>
