#authors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    height: 100%;

    mat-spinner {
        align-self: center;
    }

    table {
        width: 85vw;

        tr {
            text-align: center;

            th::ng-deep {
                font-size: 16px;
                font-style: bold;
                z-index: 0;

                .mat-sort-header-container {
                    justify-content: center;
                }
            }

        }
    }
}

#tableContent {
    position: absolute;
    height: 650px;
    overflow: auto;
    z-index: 1;
}