#authors {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 100%;

    mat-spinner {
        align-self: center;
    }

    table {
        width: 85vw;

        tr {
            text-align: center;

            th::ng-deep {
                font-size: 16px;
                font-style: bold;
                z-index: 0;

                .mat-sort-header-container {
                    justify-content: center;
                }
            }

        }
    }

    mat-paginator {
        width: 85vw;
        margin-top: 75px;
    }
}

#tableContent {
    position: absolute;
    height: 592px;
    overflow: auto;
    margin-top: 75px;
}