
table{
    width: 85vw;
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    th{
        font-size: 16px;
        font-style: bold;
    }
    th, td{
        text-align: center;
    }
}