p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

mat-card {
    cursor: pointer;
    width: 300px;
    height: 365px;
    margin: 20px 15px 15px 20px;

    mat-card-header {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100px;

        mat-card-title {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    mat-card-content {
        text-align: center;
    }

    .book-img {
        width: 50%;
        height: 50%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 1053px) {
    mat-card {
        width: 243px;
    }
}

@media (max-width: 646px) {
    mat-card {
        width: 70%;
    }
}