    <mat-card class="example-card"  [routerLink]="['/book', book.id]">
        <mat-card-header>
            <mat-card-title>{{book.title}}</mat-card-title>
            <mat-card-subtitle>Price: {{book.price}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="book-img" src="../../../../assets//book.png" alt="Book image not found">
        <mat-card-content>
            <p>
                {{book.description}}
            </p>
        </mat-card-content>
    </mat-card>
