mat-horizontal-stepper {
    form {
        display: flex;
        flex-direction: column;
    }
}
.country-option-img {
    vertical-align: middle;
    margin-right: 8px;
}

#cardInf{
    mat-form-field{
        margin-right:10px;
        width: 60px;
    }
}
