<h1>Registration in 3 steps</h1>
<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Fill out your information</ng-template>
    <first-step></first-step>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>Fill out your address</ng-template>
    <second-step></second-step>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <ng-template matStepLabel>Fill out your card information</ng-template>
    <third-step (clickRegister)="registre()"></third-step>
  </mat-step>
</mat-horizontal-stepper>
