<div class="ribbon"></div>
<div id="bookshelf">
<nav class="shelf">
    <a class="book home-page" >This books</a>
    <a class="book about-us">Is links</a>
    <a class="book contact" [routerLink]="['/authors']">All authors</a>
    <a class="book faq" [routerLink]="['/books']">All books</a>
    
    <span class="book not-found"></span>
   
    <span class="door left"></span>
    <span class="door right"></span>
  </nav>
  <h1>Error 404</h1>
  <p>Page not found! (click to navigation books)</p>
</div>