<form [formGroup]="form">
    <mat-form-field>
        <mat-label>Firstname</mat-label>
        <input matInput notDigits formControlName="firstNameCtl" placeholder="John" required />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Lastname</mat-label>
        <input matInput notDigits formControlName="lastNameCtl" placeholder="Prison" required />
    </mat-form-field>
    <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="jprison@gmail.com" formControlName="emailCtl" required />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Phone number</mat-label>
        <input matInput phoneMask formControlName="phoneNumberCtl" maxlength="17" placeholder="+1(234) 567-89-01" required />
    </mat-form-field>
    <div>
        <button mat-button matStepperNext>Next</button>
    </div>
</form>