<form [formGroup]="form">
  <div>
    <mat-form-field>
      <mat-label>First name</mat-label>
      <input
        matInput
        notDigits
        formControlName="firstName"
        placeholder="John"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last name</mat-label>
      <input
        matInput
        notDigits
        formControlName="lastName"
        placeholder="Doe"
        required
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input
        matInput
        placeholder="jdoe@gmail.com"
        formControlName="email"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone number</mat-label>
      <input
        matInput
        phoneMask
        formControlName="phoneNumber"
        maxlength="17"
        placeholder="+1(234) 567-89-01"
        required
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hideFirstPas ? 'password' : 'text'"
          formControlName="firstPas"
          maxlength="15"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hideFirstPas = !hideFirstPas"
        >
          <mat-icon>{{ hideFirstPas ? "visibility" : "visibility_off" }}</mat-icon>
        </button>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input
          matInput
          [type]="hideSecondPas ? 'password' : 'text'"
          formControlName="secondPas"
          maxlength="15"
          required
        />
        <mat-error *ngIf="secondPasCtl.hasError('pasError')">
          Passwords must be equal
        </mat-error>
        <button
          mat-icon-button
          matSuffix
          (click)="hideSecondPas = !hideSecondPas"
        >
          <mat-icon>{{ hideSecondPas ? "visibility" : "visibility_off" }}</mat-icon>
        </button>
      </mat-form-field>
  </div>
  <div>
    <button mat-button matStepperNext>Next</button>
  </div>
</form>
