<div id="books">
    <app-search-field></app-search-field>

    <div id="content">
      <div id="viewBooks">
        <app-books-content
          *ngIf="books$ | async as books; else loading"
          [books]="books"
        >
        </app-books-content>

        <ng-template #loading>
          <div class="spinner">
            <mat-spinner></mat-spinner>
          </div>
        </ng-template>

        <app-paginator
          [records]="booksQuantity"
          [limits]="[10, 25, 50, 75, 100, 125, 150]"
          (changed)="changePageSize($event)"
        >
        </app-paginator>
      </div>
      <ng-template #emptyBooks>
        <div id="nfBooks">
          <h2>Books not found</h2>
          <button mat-stroked-button color="warn" (click)="resetFilters()">Reset filters</button>
        </div>
      </ng-template>
      <app-filters
        *ngIf="genres$ | async as genres"
        [genres]="genres"
        (applyForm)="lol($event)"
      ></app-filters>
    </div>
</div>
