#books {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;

  mat-spinner {
    align-self: center;
  }
  app-books-content {
    display: flex;
    flex-flow: row wrap;
  }
  app-paginator {
    width: 80%;
  }
}
#content {
  display: flex;
  height: 93%;
}
#viewBooks {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
  mat-spinner {
    position: absolute;
    left: 45%;
    top: 30%;
  }
}
