<div id="bookDetails">
  <h1>{{ book.title }}</h1>
  <ng-container *ngIf="isAuth">
    <div id="features">
      <button mat-button color="primary" (click)="emitEdit()">Edit book</button>
      <button mat-button color="warn" (click)="emitDelete()">Delete book</button>
    </div>
  </ng-container>
  <div id="imgAndMainInf">
    <img src="../../../../assets/book.png" alt="Book image not found" />
    <div id="inf">
      <h4>Author: {{ book.author.first_name }} {{ book.author.last_name }}</h4>
      <h4>Genres: {{ book.genres | comma }}</h4>
      <h4>Writing date: {{ book.writing_date | date: "dd MMMM yyyy" }}</h4>
      <h4>Release date: {{ book.release_date | date: "dd MMMM yyyy" }}</h4>
      <div id="price">
        <h2>Price: {{ book.price }} $</h2>
        <button mat-raised-button color="primary">Add to cart</button>
      </div>
    </div>
  </div>
  <p>
    {{ book.description }}
  </p>
</div>
